body {
    margin: 0;
	width: 100%;
	background-color: black;
}

#image {
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: fixed;
	opacity: 0.5;
}    

#clock {
    /* margin-top: 15%; */
    position: fixed;
    font-size: 9vw;
    font-weight: bold;
    color:white;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	top: 46%;
	left: 55%;
	transition: 0.4s;
}

#date {
	font-size: 4vw;
}

#clock:hover {
	color: black;
	cursor: pointer;
	font-size: 9.5vw;
}

footer{
	position: fixed;
    font-size: 15px;
    font-weight: bold;
    color:white;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	top: 97%;
	left: 48%;
	transition: 0.4s;
}

i{
	font-size: 24px;
	letter-spacing: 10px;
	
}

i:hover {
	color: black;
	cursor: pointer;
}

#user {
	overflow: hidden;
	position: fixed;
	color: white;
	transition: 0.4s;
	font-size: 50px;
	margin-left: 97%;
}

#shadow {
	background-color: black;
	position: fixed;
	padding: 50% 100%;
	top:0%;
	opacity: 0.5;
}